<!DOCTYPE html>
<html>
<body>

<div class="container">

<div class="page-header">
<h1>MEET Friends</h1>
</div>

<form action="BROKEN-LINK-FIX-ME" method="post">
	
	<input type="text" name="name" placeholder="{{ friend.Name }}">
	<br>
	<input type="checkbox" name="male">Male
	<input type="checkbox" name="female">Female
	<input type="checkbox" name="other">other
	<br>
	<input type="text" name="nationality" placeholder="{{ friend.Nationality }}">
	<br>
	<input type="text" name="hometown" placeholder="{{ friend.HomeTown }}">
	<br>
	<input type="submit" name="submit">

</form>

<a href="BROKEN-LINK-FIX-ME" class="btn btn-info" role="button">Cancel</a>
<a href="BROKEN-LINK-FIX-ME" class="btn btn-info" role="button">Delete Friend</a>

</div>

<footer class="footer">
<div class="container">
<p class="text-muted text-footer-custom">Y2 Flask Intro</p>
</div>
</footer>

</body>
</html>
